* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body {
    overflow: hidden;
}
#container {
    height: 100vh;
    width: 100%;
    background-image: url("./Images/background.jpg");
    background-size: cover;
    background-position: center;
}
#bucket {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100px;
    height: 80px;
    background-image: url("./Images/bucket.png");
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
}